$PRIMARY_COLOR: #005a3c;
$LIGHT_GREY: #f2f2f2;
$SUCCESS_COLOR: #005a3c;
$FAILURE_COLOR: #eb5757;
$BACKGROUND_COLOR: #e9f0f0;
$TABLE_HEADER_COLOR: #b8d5d1;
$TEXT_COLOR: #515562;
$OUTLINE_COLOR: #9b9ea8;

$BUTTON_COLOR: #e9f0f0;
$BORDER_COLOR: #979797;
$WHITE: #ffffff;

$BORDER_RADIUS: 10px;

$FONT_SIZE_14: 14px;
$FONT_SIZE_16: 16px;
$FONT_SIZE_18: 18px;
$FONT_SIZE_24: 24px;
$FONT_SIZE_30: 30px;

$FONT_WEIGHT_400: 400;
$FONT_WEIGHT_500: 500;
$FONT_WEIGHT_600: 600;
